body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: color 0.3s;
}

.about-us {
    background: url(nike\ bhai\ Allah\ ka\ waasta\ he.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-backgroundpic
{
    background: url(ejfonseoinkosrnmgiormviom.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-products {
    text-align: center;
}

.check-products img {
    width: 80%;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3;
}
.btn:hover{
    background-color: greenyellow;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.product {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-box {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.contact {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.contact-box {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.contact-box img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
